<nav class="navbar navbar-danger bg-danger">
  <a class="navbar-brand  text-white" href="#">{{title}}</a>
</nav>
<hr>
<div class="container">
  <div class="card" style="padding: 2em;">
      
          <div class="form-group">
              <label >Nùmero de identificaciòn:</label>
              <input type="number" [(ngModel)]="cedula"  class="form-control"  placeholder="Nùmero de Cedula" >
          </div>
          <div class="form-group">
              <input type="file" accept="text/plain"  (change)="onFileSelected($event)" class="form-control">
          </div>
          <div class="form-group">
            <button class="btn btn-primary" (click)="calcular()">Calcular Viajes</button>
          </div>
      
  </div>
</div>


